.header {
  width: 1920px;
  padding: 25px 180px;

  justify-content: start;
  background-color: white;
}

.logo {
  width: 262px;
  height: 70px;

  margin-right: 40px;
}

.btn_catalog {
  background-color: rgba(218, 9, 22, 1);
  padding: 15px 20px;

  cursor: pointer;

  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22.07px;
  text-align: center;
  color: white;
}

.btn_title {
  margin-left: 5px;
  margin-top: 3px;
}

.btn_rooms {
  background-color: rgba(245, 243, 241, 1);

  padding: 14px 20px;

  cursor: pointer;

  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22.07px;
  text-align: left;
  color: black;
}

.search_container {
  width: 400px;
  cursor: pointer;
  height: 52px;
  background-color: rgba(245, 243, 241, 1);
  border-radius: 10px;
}

.search_icon {
  cursor: pointer;

  height: 52px;
  background-color: rgba(245, 243, 241, 1);
  border-radius: 10px;
  padding: 0 15px;
}

.search_input {
  padding: 0;
  width: 100%;
  height: 52px;

  background-color: rgba(245, 243, 241, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 19.62px;
  text-align: left;

  border: none;
  border-radius: 10px;
}

.search_input:focus {
  outline: none;
}

.contacs {
  margin-left: 40px;
  margin-right: 40px;
}

.phone_number {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.07px;
  text-align: left;
}

.contacs_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.71px;
  text-align: center;
}

.user_angle {
  position: relative;
}

.user_likes {
  cursor: pointer;
  margin-right: 30px;
}

.user_cart {
  cursor: pointer;
  margin-right: 30px;
}

.user_profile {
  cursor: pointer;
}

.message_like {
  width: 19px;
  height: 15px;

  font-size: 12px;
  font-weight: 700;
  line-height: 14.71px;
  text-align: center;

  background-color: rgba(218, 9, 22, 1);
  border-radius: 5px;
  color: white;

  position: absolute;
  left: 65px;
}

.message_cart {
  width: 19px;
  height: 15px;

  font-size: 12px;
  font-weight: 700;
  line-height: 14.71px;
  text-align: center;

  background-color: rgba(218, 9, 22, 1);
  border-radius: 5px;
  color: white;

  position: absolute;
  left: 175px;
}

.cart_container {
  display: flex;
  justify-content: center;
}

.likes_container {
  display: flex;
  justify-content: end;
}
