.slider {
  width: 1560px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.slider_arrows {
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: space-between;

  position: absolute;
}

.slider_arrow {
  width: 48px;
  height: 48px;

  cursor: pointer;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: white;

  z-index: 2;
}

.fix_left_arrow {
  margin: 176px 40px;
  margin-right: 0;
}

.fix_right_arrow {
  margin: 176px 40px;
  margin-left: 0;
}

.slider_img {
  height: auto;

  border-radius: 50px;
  overflow: hidden;
}

.slider_position {
  margin-top: 16px;

  display: flex;
  flex-direction: row;
}

.slider_position_one {
  width: 12px;
  height: 12px;
  margin-right: 10px;

  border: 2px solid rgba(218, 9, 22, 1);
  border-radius: 50%;

  background: rgba(232, 232, 232, 1);
}

.slider_position_two {
  width: 12px;
  height: 12px;

  border: 2px solid #ffffff00;
  border-radius: 50%;

  background: rgba(232, 232, 232, 1);
}
